autodoc/**
/target
/lib
/classes
/checkouts
/data
/data*
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lein*
*.gff
*.fasta
*.tgz
*.zip
*.gz
*.fa
*.blast
*.fpkm_tracking
*.output
*.gtf
.gtf
*.log
/log
/bin
merged.gtf
*.tsv
*.csv
Mt3.0_psuedomolecules
Mt3.5.1_all_BACs.fa
scripts/complete_mrna_hits.sam
ipscan*
.classpath
/.settings
*.fas
*-output
run-local.sh
run-local.json
/data.old
/utr.db
/utr.db.*
/db_scripts
/tmp
/dbs
/odg.db
/odg.db/*
odg.db*
odg.db
justmt*
mt4only.db/*
/runs
annotate.sh
annotate2.sh
*.gdf
exp.sh
nocopy*
.nrepl-port
/db
*nrepl*
.fuse*
/*.json
*.db
/*.db
*.txt
*.tsv
*.bat
!/example-input-files
!/example-input-files/*
!/example-input-files/**/*
*.tmp
.rebel*
