body {
  padding-top: 100px;
  overflow: hidden;
  height: 100%;
}

html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

/* From: https://github.com/bassjobsen/typeahead.js-bootstrap-css */
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.detail-table {
	overflow: auto;
}

.detail-table tbody td:first-child {
	background-color: #d9edf7;
}

.definition_column {
	width: 60%;
}

.scrollable-tbody {
	overflow-y: scroll;
	height: 90%;
}

.scrollable-row {
	
}

div.loading {
	text-align: center;
	width: 100%;
	height: 40%;
	vertical-align: middle;
}

tr.header {
	font-weight: bold;
	text-align: left;
	background-color: rgba(0, 130, 130, 0.3);
}